.btn{
    margin-left: 12px;
}

.elements{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px 0;
    padding: 10px;
}

.task{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.elements:hover{
    background-color: aquamarine;
    border-radius: 7px;
}

.close{
    color: brown;
    text-decoration: line-through;
}